/************Base*************/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.column {
    width: 100%;
    max-width: 1100px;
}

/************Layout*************/

/*Colores*/

:root {
    --main-color: #FFFFFF;
    --second-color: #000000;
    --heart: #F4D7EE;
    --flower: #FCEBF9;
    --sky: #7CEDE5;
    --star: #EDEB98;
    --fire: #BC2A2A;
    --plump: #5550BC;
    --grass: #3E822B;
}

/*Texto*/

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h2, p, a, input, label {
    font-family: 'Nunito Sans', sans-serif;
}

h2 {
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.05em;
    margin: 0% auto 2%;
}

/*Formas*/

hr {
    margin: 0 auto;
    width: 70%;
    height: 8px;
    background: black;
    border-radius: 10px;
}