/************Footer*************/

.footer-section {
    background-color: var(--second-color);
    display: flex;
    justify-content: center;
    padding: 4% 2% 3%; 
}

.footer-container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
}

.footer-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/*Footer NAV*/

.footer-nav-list {
    width: 50%;
    margin-bottom: 7%;
    display: flex;
    justify-content: space-evenly;
    }

.footer-social {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.footer-container ul li a {
    color: var(--main-color);
    cursor: pointer;
    font-size: 0.76em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

div.footer-container ul li a.footer-social-link {
    font-size: 30px;
}

div.footer-container ul li a.footer-social-link:hover {
    color: var(--sky);
}

/*Footer MEDIA*/

.footer-social-list {
    width: 20%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-evenly;
}

.footer-nav-link {
font-size: 1em;
}


/************Footer BREAKPOINTS*************/

@media (max-width: 1100px) {
    
    .footer-nav-list { 
        display: none;
    }

    .footer-social-list {
        width: 30%;
    }
}

@media (max-width: 580px) {

    .footer-social-list {
        width: 55%;
    }
    
}