/************Quote*************/

.quote-section {
    background-color:var(--second-color);
    min-height: 300px;
    padding: 20px 50px;
}

.quote-container {
    width: 300px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:black;
    display: inline-block;
    animation-name: cambiarAncho, cambiarColor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    animation-direction: alternate;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes cambiarColor {
    from {background-color: black;}
    to {background-color: dimgrey;}
    
}

@keyframes cambiarAncho {
    0% {width: 800px;}
    50% {width: 900px;}
    100% {width: 1300px;}
    
}

.quote-container i {
    font-size: 100px;
    margin-bottom: 4%;
}

blockquote {
    margin-bottom: 4%;
}

